.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  /* height: calc(100vh - 5rem); */
  /* @media (max-width: 950px) {
    margin: 1rem;
    padding: 1rem;
  } */
  background-color: var(--color-dark--1);
}

.product section {
  @media (min-width: 950px) {
    width: clamp(80rem, 80%, 90rem);
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
    align-items: center;
  }
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.product img {
  width: 100%;
  @media (max-width: 950px) {
    display: none;
  }
}

.product h2 {
  font-size: 4rem;
  /* line-height: 1.2; */
  margin-bottom: 3rem;

  @media (max-width: 950px) {
    text-align: center;
  }
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}
