.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);

  @media (min-width: 975px) {
    padding: 3rem 5rem 3.5rem 5rem;
    height: calc(100vh - 4.8rem);
  }
  @media (max-width: 975px) {
    padding: 0rem 3rem 0 3rem;
    height: 90vh;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  display: flex;
  text-decoration: none;
  @media (max-width: 975px) {
    display: none;
  }
}

.footer {
  margin-top: auto;
  @media (max-width: 500px) {
    display: none;
  }
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}
