.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  height: calc(100vh - 1rem);
  @media (max-width: 950px) {
    margin: 1rem;
  }
  background-color: var(--color-dark--1);
}

.product section {
  @media (min-width: 950px) {
    width: clamp(80rem, 80%, 90rem);
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
    align-items: center;
  }
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.product img {
  width: 100%;
  @media (max-width: 950px) {
    display: none;
  }
}

.product h2 {
  font-size: 4rem;
  /* line-height: 1.2; */
  margin-bottom: 3rem;

  @media (max-width: 950px) {
    text-align: center;
  }
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}

.user {
  @media (min-width: 975px) {
    position: absolute;
    top: 4.2rem;
    right: 4.2rem;
    z-index: 999;
    background-color: var(--color-dark--1);
  }
  @media (max-width: 975px) {
    display: table-header-group;
    text-align: center;
    /* background-color: var(--color-dark--0); */
    background-image: linear-gradient(
      var(--color-dark--2),
      var(--color-dark--0)
    );
  }
  padding: 1rem 1.4rem;
  border-radius: 7px;
  box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
  font-size: 1.6rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user img {
  border-radius: 100px;
  height: 4rem;

  @media (max-width: 975px) {
    transform: translateY(5px);
    margin-right: 1rem;
  }
}

.user button {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  border: none;
  padding: 0.6rem 1.2rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: 975px) {
    margin-left: 2rem;
    transform: translateY(-10px);
  }
}

.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);

  @media (min-width: 975px) {
    padding: 3rem 5rem 3.5rem 5rem;
    height: calc(100vh - 4.8rem);
  }
  @media (max-width: 975px) {
    padding: 0rem 3rem 0 3rem;
    height: 90vh;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  display: flex;
  text-decoration: none;
  @media (max-width: 975px) {
    display: none;
  }
}

.footer {
  margin-top: auto;
  @media (max-width: 500px) {
    display: none;
  }
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

.mapContainer {
  flex: 1;
  @media (min-width: 975px) {
    height: 100%;
  }
  @media (max-width: 975px) {
    height: 75vh;
  }

  background-color: var(--color-dark--2);
  position: relative;
}

.map {
  height: 100%;
}

/* Here we want to style classes that are coming from leaflet. So we want CSS Modules to give us the ACTUAL classnames, not to add some random ID to them, because then they won't match the classnames defined inside the map. The solution is to define these classes as GLOBAL */
:global(.leaflet-popup .leaflet-popup-content-wrapper) {
  font-family: "NotoColorEmojiLimited", "Manrope", sans-serif;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

:global(.leaflet-popup .leaflet-popup-content) {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

:global(.leaflet-popup .leaflet-popup-content span:first-child) {
  font-size: 2.5rem;
  line-height: 1;
}

:global(.leaflet-popup .leaflet-popup-tip) {
  background-color: var(--color-dark--1);
}

:global(.leaflet-popup-content-wrapper) {
  border-left: 5px solid var(--color-brand--2);
}

.nav {
  @media (min-width: 700px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 700px) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
  line-height: 1.3;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;

  @media (max-width: 400px) {
    gap: 2rem;
  }
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  /* text-transform: uppercase; */
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
  text-decoration: underline;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.cityItem,
.cityItem:link,
.cityItem:visited {
  display: flex;
  gap: 1.6rem;
  align-items: center;

  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid #00c46a;
  cursor: pointer;

  color: inherit;
  text-decoration: none;
}

.cityItem--active {
  border: 2px solid var(--color-brand--2);
  border-left: 5px solid var(--color-brand--2);
}

.emoji {
  font-size: 2.6rem;
  line-height: 1;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: auto;
}

.date {
  font-size: 1.5rem;
}

.deleteBtn {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}

.nav {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  background-color: var(--color-dark--2);
  border-radius: 7px;
}

.nav a:link,
.nav a:visited {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/* CSS Modules feature */
.nav a:global(.active) {
  background-color: var(--color-dark--0);
}

/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;600;700;800&family=Roboto:wght@100&display=swap");

/* Proper flag rendering on Windows */
@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #b5a370;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "NotoColorEmojiLimited", "Playpen Sans", cursive;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}

/*
"importCSSModule": {
    "prefix": "csm",
    "scope": "javascript,typescript,javascriptreact",
    "body": ["import styles from './${TM_FILENAME_BASE}.module.css'"],
    "description": "Import CSS Module as `styles`"
  },
*/

.logo {
  height: 6rem;
}

.app {
  @media (min-width: 975px) {
    height: 100vh;
    padding: 2.4rem;
    overscroll-behavior-y: none;
    display: flex;
    position: relative;
  }
  @media (max-width: 975px) {
    height: 100vh;
    width: 100%;
    display: table;
  }
}

.countryList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.6rem;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  @media (min-width: 975px) {
    padding: 2rem 3rem;
    width: 100%;
  }
  @media (max-width: 975px) {
    padding: 1.5rem;
    width: 110%;
  }

  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-size: 16px;
}

form p {
  color: black;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flag {
  position: absolute;
  right: 1rem;
  top: 2.7rem;
  font-size: 2.8rem;
}

.form.loading {
  opacity: 0.3;
}

.form.loading button {
  pointer-events: none;
  background-color: var(--color-light--1);
  border: 1px solid var(--color-light--1);
  color: var(--color-dark--0);
}

:global(.react-datepicker) {
  font-family: inherit;
  font-size: 1.2rem;
}

.city {
  padding: 2rem 3rem;
  max-height: 70%;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  overflow: hidden;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
}

.city h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.city h3 span {
  font-size: 3.2rem;
  line-height: 1;
}

.city p {
  font-size: 1.6rem;
}

.city a:link,
.city a:visited {
  font-size: 1.6rem;
  color: var(--color-brand--1);
}

.spinnerFullpage {
  margin: 2.5rem;
  height: calc(100vh - 5rem);
  background-color: var(--color-dark--1);
}

.spinnerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--color-light--2));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.message {
  text-align: center;
  font-size: 1.8rem;
  width: 80%;
  margin: 2rem auto;
  font-weight: 600;
}

.countryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;

  font-size: 1.7rem;
  font-weight: 600;

  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--1);
}

.countryItem span:first-child {
  font-size: 3rem;
  line-height: 1;
}

.cityList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.cityList::-webkit-scrollbar {
  width: 0;
}

.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}

.homepage {
  @media (min-width: 700px) {
    height: calc(100vh - 5rem);
    margin: 2.5rem;
    padding: 2.5rem 5rem;
  }
  @media (max-width: 700px) {
    margin: 1rem;
    padding: 1rem;
    height: 100vh;
  }
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("../bg.jpg");
  background-size: cover;
  background-position: center;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage h1 {
  font-size: 4.5rem;
  /* line-height: 1.3; */
}

.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: var(--color-light--1);
  margin-bottom: 2.5rem;
}

.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  @media (max-width: 950px) {
    margin: 1rem;
    padding: 1rem;
  }
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 1rem);
}

h1 {
  font-size: 34px;
  text-align: center;

  @media (max-width: 950px) {
    font-size: 20px;
  }
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;

  @media (max-width: 950px) {
    padding: 1rem;
  }
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  @media (min-width: 650px) {
    width: 48rem;
    margin: 8rem auto;
  }
  @media (min-width: 480px) and (max-width: 650px) {
    width: 35rem;
    margin: 2rem auto;
  }
  @media (max-width: 480px) {
    width: 30rem;
    margin: 2rem auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
